html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    border-bottom: .5px solid lightgray;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.nav-svg {
    margin-left: 3%;
}


nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

nav li {
    list-style: none;
}

nav a {
    color: #042A84;
    font-size: 1.3rem;
    margin-right: 100px;
    text-decoration: none;
}

nav img {
    height: 125px;
    margin-left: 3%;
    width: 125px;
}

#burger {
    color: white;
}

.drawline {
    position: relative;
}

.drawline:before {
    background-color: #042A84;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 0;
}

.drawline:hover:before {
    visibility: visible;
    width: 100%;
}

.custom-shape-divider-bottom-1628882305 {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.custom-shape-divider-bottom-1628882305 svg {
    display: block;
    height: 238px;
    position: relative;
    transform: rotateY(180deg);
    width: calc(100% + 1.3px);
}

.custom-shape-divider-bottom-1628882305 .shape-fill {
    fill: #FFA553;
}

main {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.bottom {
    bottom: 0;
    left: 0;
    padding-top: 100px;
    position: absolute;
    width: 100%;
}

.pulldown {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 0px;
    justify-content: center;
    transition: height 1s ease-in-out;
}

.pulldown a {
    color: #042A84;
    font-size: 1.5rem;
    text-decoration: none;
}

.pulldown h2 {
    display: none;
    margin-left: 4%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.pulldown button {
    background-color: #042A84;
    border-radius: 8px;
    border: .5px solid #042A84;
    color: white;
    display: none;
    font-size: 1rem;
    margin-left: 4%;
    opacity: 0;
    padding: 12px 10px;
    transition: opacity 1s ease-in-out;
    width: 160px;
}

#github, #linkedin{
    font-size: 2rem;
}

.error {
    color: red;
    font-size: 1.2rem;
}

.success {
    color: green;
    font-size: 1.2rem;
}

#spinner {
    font-size: 6rem;
    color: #042A84;
}

.spinner-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width: 70%;
}

.spinner-div p {
    color: #042A84;
    font-size: 2rem;
    text-align: center;
}