html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: .5px solid lightgray;
}

.nav-svg {
    margin-left: 3%;
}


nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #042A84;
    margin-right: 100px;
}

nav img {
    height: 125px;
    width: 125px;
    margin-left: 3%;
}

#burger {
    color: white;
}

.drawline {
    position: relative;
}

.drawline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #042A84;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.drawline:hover:before {
    visibility: visible;
    width: 100%;
}

.custom-shape-divider-bottom-1628882305 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1628882305 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 238px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1628882305 .shape-fill {
    fill: #FFA553;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 100px;
}

.pulldown {
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: height 1s ease-in-out;
}

.pulldown a {
    color: #042A84;
    text-decoration: none;
    font-size: 1.5rem;
}

.pulldown h2 {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-left: 4%;
}

.pulldown button {
    display: none;
    opacity: 0;
    padding: 12px 10px;
    width: 160px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #042A84;
    color: white;
    border: .5px solid #042A84;
    transition: opacity 1s ease-in-out;
    margin-left: 4%;
}

#github, #linkedin{
    font-size: 2rem;
}

.error {
    color: red;
    font-size: 1.2rem;
}

.success {
    color: green;
    font-size: 1.2rem;
}