.login {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5%;
    margin-top: 0;
    width: 45%;
}

.login h2, p {
    color: #042A84;
}

.login h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0%;
}

.login p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 80%;
}

form {
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #042A84;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1%;
    padding: 25px;
    width: 70%;
    z-index: 1;
}

input {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

#street-address {
    position: relative;
}

label {
    color: #042A84;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.btn {
    background-image: linear-gradient(to right, #f1ba87, #FE902B);
    border-radius: 5px;
    border: 1px solid #FFA553;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    height: 35px;
    margin-top: 10px;
    width: 40%;
}

.photos {
    display: flex;
    width: 55%;
}

.photos img {
    margin-right: 100px;
    margin-top: 3%;
    width: 100%;
}

.forgot-pwd {
    color: #042A84;
    margin-top: 5px;
}

.choice {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    color: #042A84;
}

#details {
    position: absolute;
    top: 0;
    width: auto;
    background-color: white;
    width: 50%;
}

.push-down {
    bottom: -500px;
    transition: bottom 0.1s;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .photos {
        margin-right: 0;
        padding-bottom: 250px;
        width: 100%;
        z-index: 1;
    }

    .login {
        padding: 10px;
        width: auto;
    }

    form {
        align-self: flex-start;
        width: 100%;
    }

    body {
        overflow-x: hidden;
        position: relative;
    }

    nav ul {
        display: none;
    }

    #burger {
        color: #042A84;
        display: visible;
        font-size: 2rem;
        margin-left: auto;
        margin-right: 30px;
    }

    .hide {
        display: visible;
    }
}