.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container p {
    color: #042A84;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    width: 100%;
}

form {
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #042A84;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    z-index: 1;
}

input {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

label {
    color: #042A84;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.btn {
    background-image: linear-gradient(to right, #f1ba87, #FE902B);
    border-radius: 5px;
    border: 1px solid #FFA553;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    height: 35px;
    margin-top: 10px;
    width: 40%;
}

@media screen and (max-width: 900px) {
    
    .container {
        padding-bottom: 349px;
    }

    form {
        align-self: center;
    }

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }

    nav ul {
        display: none;
    }

    #burger {
        color: #042A84;
        display: visible;
        font-size: 2rem;
        margin-left: auto;
        margin-right: 30px;
    }

    .hide {
        display: visible;
    }
}