body {
    height: auto;
    position: relative;
}

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    color: #042A84;
    margin-left: 3.5%;
}

.container p {
    color: #042A84;
    font-size: 1.2rem;
    margin-left: 3.5%;
    margin-top: 0;
}

.results {
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
}

.route-container {
    border: 1px solid #042A84;
    display: flex;
    padding: 25px;
    width: 100%;
    z-index: 1;
}

.route {
    border-radius: 5px;
    border: 1px solid #042A84;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 25px;
    width: 50%;
    z-index: 1;
}

.map {
    height: 500px;
    margin-right: 0;
    padding: 10px;
    width: 100%;
}

.route h2 {
    color: #042A84;
}

.route p {
    color: #042A84;
}

.route a {
    color: #042A84;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    
    nav ul {
        display: none;
    }

    #burger {
        color: #042A84;
        display: visible;
        font-size: 2rem;
        margin-left: auto;
        margin-right: 30px;
    }

    .hide {
        display: visible;
    }

    .container {
        padding: 10px;
    }

    .route-container {
        flex-direction: column;
    }

    .map {
        margin-left: 0;
    }

    .route {
        margin-left: 0;
        width: 100%;
    }
}