<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Rides Finder</title>
{% endblock %}
<body>
    <nav>
        <img src="{{ url_for('static', filename='img/ride_finder_logo.png') }}" alt="">
        <ul>
            <a href="https://github.com/JB0925"><i id="github" class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jesse-brink-0682/"><i id="linkedin" class="fab fa-linkedin-in"></i></a>
            <li><a class="drawline" href="/">Register</a></li>
            <li><a class="drawline" href="/login">Login</a></li>
            <li><a class="drawline" href="/search">Search</a></li>
        </ul>
        <i id="burger" class="fas fa-bars"></i>
    </nav>
    <div class="pulldown">
        <h2><a href="/login">Login</a></h2>
        <h2><a href="/">Register</a></h2>
        <h2><a href="#">Contact</a></h2>
        <button>Start Free Trial</button>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="bottom">
        <div class="custom-shape-divider-bottom-1628882305">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>