{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Ride Finder - Home</title>
{% endblock %}
{% block content %}
    <div class="info">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    {% if msg == 'Your account was not found. Please sign up today!' %}
                    <p class="error">{{ msg }}</p>
                    {% elif msg == 'Sorry, your email is not associated with an account!' %}
                    <p class="error">{{ msg }}</p>
                    {% else %}
                    <p class="success">{{ msg }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Welcome to Ride Finder!</h1>
        <p>Find a public transit route near you.
            Rides are for either buses or trains, and you will get 
            information about upcoming departure times, mode of transportation,
            and destination. Fill out the form to sign up today!
        </p>
    </div>
    <div class="signup">
        <h2>Sign up Today!</h2>
        <form action="/" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{field.label}}
                {{field}}
            
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button class="btn" type="submit">Register</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}