{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Ride Finder - Home</title>
{% endblock %}
{% block content %}
    <div class="login">
        <h2>Search for routes near you.</h2>
        <p>Route data can be found for locations in the United States,
            as well as some locations outside of the United States.</p>
        <form action="/search" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{field.label}}
                {{field}}
            
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <div class="photos">
        <img src="{{ url_for('static', filename='img/bus_stop.png') }}" alt="">
    </div>
{% endblock %}